USE [master]
GO
/****** Object:  Database [LoginDB]    Script Date: 7/09/2023 17:24:42 ******/
CREATE DATABASE [LoginDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LoginDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LoginDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LoginDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LoginDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LoginDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LoginDB]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 7/09/2023 17:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] NULL,
	[nombre] [nvarchar](50) NULL,
	[Contraseña] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Usuarios] ([Id], [nombre], [Contraseña]) VALUES (NULL, N'asd', N'sad')
INSERT [dbo].[Usuarios] ([Id], [nombre], [Contraseña]) VALUES (NULL, N'hola1', N'hola')
INSERT [dbo].[Usuarios] ([Id], [nombre], [Contraseña]) VALUES (NULL, N'123', N'123')
GO
USE [master]
GO
